/* @import url removed to fix CSS processing */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 15, 19;
  --background-rgb: 255, 254, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'ClashDisplay', sans-serif;
}